x.corpodosite{
color: white;
}
.cabecalho {
    background-image: linear-gradient(gray,red);
    color: pink;
    display: flex;
    padding: 24px 0;
    font-size: x-large;
}

.section1 {
    background-image: linear-gradient(gray,rgb(32, 31, 31.,black));
    padding: 100px;
    font-size: x-large;
}


.section2 {
    background-image: linear-gradient(gray,rgb(32, 31, 31.,black));
    padding: 100px;
    font-size: x-large;
}
.section3{
    background-image: linear-gradient(gray,rgb(32, 31, 31.,black));
    padding: 100px;
    font-size: x-large;
}

.cabecalho-imagem {
    width: 20%;
    font-size: x-large;
}

.rodape{
    background-color: cadetblue;
    color: beige;
}