x.corpodosite {
    color: white;
}

.cabecalho {
    background-image: linear-gradient(gray, red);
    color: pink;
    display: flex;
    padding: 10px 0;
    font-size: x-large;
    justify-content: space-around;
}

.section1 {
    background-image: linear-gradient(gray, rgb(32, 31, 31., black));
    padding: 100px;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
}


.section2 {
    background-image: linear-gradient(gray, rgb(32, 31, 31., black));
    padding: 100px;
    font-size: x-large;
    justify-content: space-around;
}

.section3 {
    background-image: linear-gradient(gray, rgb(32, 31, 31., black));
    padding: 100px;
    font-size: x-large;
    justify-content: space-around;
}

.cabecalho-imagem {
    width: 15%;
    font-size: x-large;
    justify-content: space-around;
}

.rodape {
    background-color: cadetblue;
    color: beige;
}
.cabecalho-imagem{
    padding-right: 100px;
}